[submodule "vendor/ZendFramework"]
	path = vendor/ZendFramework
	url = git://github.com/zendframework/zf2.git
[submodule "vendor/Doctrine"]
	path = vendor/Doctrine
	url = git://github.com/doctrine/doctrine2.git
